// Variables file

// Colors
@magenta: #ec008c;
@light-gray: #eee;
@tr-black: rgba(0, 0, 0, 0.5);

// Typefaces
@d-main-nav: bold ~"21px/48px" 'HUGEAvantGardeBold';
@d-secondary-nav: normal ~"16px/48px" 'Galaxie';
@headline: ~"44px/48px" 'HUGEAvantGardeBold';
@body: ~"14px/24px" 'Galaxie';
@copyright: normal ~"12px/16px" 'Helvetica Neue', Helvetica, sans-serif;

// Media Queries
@desktop: ~"only screen and (min-width: 768px)";